<div class="py-3 w-100 fixed-bottom" style="border-radius:10px 10px 0 0; background-color: rgb(124, 166, 83);">
  <div class="row align-items-start">
    <span class="col text-center"><a class="btn btn-success" href="/about">About</a></span>
    <span class="col text-center"><a class="btn btn-success" href="/contact">Contact</a></span>
    <span class="col text-center my-auto text-white">Created July 2022</span>
  </div>
</div>