<div class="container-md w-md-50">
  <h1 class="text-center p-3 m-2">Contact</h1>
</div>
<div class="w-50 p-3 my-4 mx-auto" style="background-color: rgb(164, 224, 100); border-radius: 10px;">
  <h3 class="text-center p-1 m-1 ">Craft a Message</h3>
  <form class="" method="post" action="/contact">  
    <div class="container">   
      <label class="mt-2 mb-1 fs-4">First Name </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="First Name" name="senderFirstName" required>  
      <label class="mt-2 mb-1 fs-4">Last Name </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Last Name" name="senderLastName" required>  
      <label class="mt-2 mb-1 fs-4">Email </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Email Address" name="senderEmail" required>  
      <label class="mt-2 mb-1 fs-4">Subject </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Enter Message Subject" name="subject" required>  
      <label class="mt-2 mb-1 fs-4">Message </label>   
      <input class="mt-1 mb-2 pt-1 pb-5 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Write your message here..." name="text" required>  
      <button class="my-4 w-100 btn btn-success" type="submit">Send</button>   
    </div>   
  </form>    
  <div class="text-center"><a  class="btn btn-danger" href="/">Back</a></div>
</div>