<div class="container-md w-md-50">
  <h1 class="text-center p-3 m-2 ">Welcome to Note Taker</h1>
  <p class="text-center w-75 m-auto p-3 fs-3">You can view all notes written on the app by any user. Further you can write a note after creating a user and logging in. You can then view only your notes and edit or delete them. </p>
  <div class="my-3 row align-items-start">
    <span id="login" class="col text-center"><a class="btn btn-success" href="/users/login">Login</a></span>
    <span id="logout" class="d-none col text-center"><a class="btn btn-danger" href="/users/logout">Logout</a></span>
    <span class="col text-center"><a class="btn btn-success" href="/notes">View All Notes</a></span>
  </div>
</div>
