<div class="container-md w-md-50 mt-3">
  <h3 class="text-center">You have successfully logged out</h3>
  <div class="my-3 row align-items-start">
      <span id="login" class="col text-center"><a class="btn btn-success" href="/users/login">Login</a></span>
      <span class="col text-center"><a class="btn btn-success" href="/notes/allNotes">View All Notes</a></span>
  </div>
</div>
