<div class="w-25 p-3 my-4 mx-auto" style="background-color: rgb(124, 192, 52); border-radius: 10px;">
  <h3 class="text-center p-1 m-1 ">Make a New Account</h3>
  <form class="" method="post" action="/users/register">  
    <div class="container">
      <label class="mt-2 mb-1 fs-4">First Name </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Enter First Name" name="firstName" required>     
      <label class="mt-2 mb-1 fs-4">Last Name </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Enter Last Name" name="lastName" required>
      <label class="mt-2 mb-1 fs-4">Email </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="text" placeholder="Enter Email" name="email" required>  
      <label class="mt-2 mb-1 fs-4">Password </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="password" placeholder="Enter Password" name="password" required>
      <label class="mt-2 mb-1 fs-4">Retype Password </label>   
      <input class="mt-1 mb-2 py-1 w-100 border border-1 border-secondary rounded-3" type="password" placeholder="Retype Password" name="checkPassword" required>    
      <button class="my-4 w-100 btn btn-success" type="submit">Register</button>   
    </div>   
  </form>    
  <div class="text-center"><a  class="btn btn-danger" href="/">Back</a></div>
</div>

{{!-- need to check the second password with the first to see if theyre the same.
Don't know if i want to do this in the front or the back end. --}}
<script>



</script>
